* {
    margin: 0;
    padding: 0;
}
body {
    background-color: blueviolet;
}
.main-head {
    padding: 30px 0px 30px 0px;
    text-align: center;
    color: #ffffff;

}
.button-bar {
    margin-top: 50px;
}
.inc-text {
    padding-top: 12%;
    padding-bottom: 6%;
    text-align: center;
    color: #ffffff;
    font-size: xx-large;
}
.btn-class {
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: larger;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.btn-div {
    display: inline-block;
    width: 33%;
    text-align: center;
}
